{% extends "wizard/base.html" %}
{% load nm %}
{% load js %}

{% block content %}

<h1>nm.debian.org wizards index</h1>

<p>What can I help you with?</p>

<ul>
  <li><a href="{% url 'wizard_advocate' %}">Advocate someone</a></li>
  <li><a href="{% url 'wizard_newprocess' applying_for='dm' %}">Become Debian Maintainer</a></li>
  <li><a href="{% url 'wizard_newprocess' applying_for='dd_nu' %}">Become Debian Developer</a></li>
  <li><a href="{% url 'wizard_newprocess' applying_for='dd_u' %}">Become Debian Developer, with upload rights</a></li>
  <li><a href="{% url 'wizard_newprocess' applying_for='ga' %}">Request a guest account</a></li>
  <li><a href="{% url 'wizard_newprocess' applying_for='return' %}">Return from Emeritus</a></li>
</ul>

{% include "wizard/whoami.html" %}

{% endblock %}

