{% extends "nm-base.html" %}
{% load nm %}
{% load js %}

{% block head_resources %}
{{block.super}}
{% jsinclude "nm" %}
<style type="text/css">
.errorlist { color: red; }
</style>
{% endblock %}

{% block breadcrumbs %}{{block.super}}
/ <a href="{{ person.get_absolute_url }}">{{person.lookup_key}}</a>
{% endblock %}

{% block relatedpages %}
{{block.super}}
{% endblock %}

{% block content %}

<h1>Edit {{type_desc}}</h1>

{% include explain_template with edit=True %}

{% if blurb %}
<p>For your convenince, you can generate the signed statement with this
command, and the site will recognise the text and accept it without a need of
manual validation of its content:</p>

<pre>
(
  {% for line in blurb %}echo {{line}}
  {% endfor %}
) | gpg --clearsign --default-key {{fpr.fpr}}
</pre>
{% endif %}

<p>It is a good idea to include some context information like the date and
nm.debian.org in the text, in case someone tries to reuse the signed statement
somewhere else.</p>

<form action="" method="post">{% csrf_token %}
  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
  {% for field in form.visible_fields %}
  {{ field.label_tag }}<br>
  {{ field }}<br>
  {{ field.errors }}
  {% endfor %}        
  {{ form.non_field_errors }}
  <input type="submit" value="Submit">
</form>

{% if statement %}
Statement is {{statement.status}}, uploaded by <a href="{{statement.uploaded_by.get_absolute_url}}">{{statement.uploaded_by}}</a>:
<pre>
{{statement.statement}}
</pre>
{% else %}
Statement is currently missing.
{% endif %}

{% endblock %}
