<p>
<form method="POST"
  {% if requirement %}
  action="{% url 'process_add_requirement_log' pk=process.pk type=requirement.type %}"
  {% else %}
  action="{% url 'process_add_log' pk=process.pk %}"
  {% endif %}
  >{% csrf_token %}
  Add log entry:
  <br/>
  <textarea name="logtext" rows="3" cols="80" placeholder="vacation notice / remark about the process / status update / ..."></textarea>
  <br/>
  <button type="submit" name="add_action" value="public">Comment</button>
  <button type="submit" name="add_action" value="private">Comment (confidential)</button>
  {% if requirement %}
    {% if requirement.approved_by %}
    <button type="submit" name="add_action" value="public_unapprove">Unapprove</button>
    <button type="submit" name="add_action" value="private_unapprove">Unapprove (confidential)</button>
    {% else %}
    <button type="submit" name="add_action" value="public_approve">Approve</button>
    <button type="submit" name="add_action" value="private_approve">Approve (confidential)</button>
    {% endif %}
  {% endif %}
</form>
</p>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Author</th>
      {% if not requirement %}
      <th>Requirement</th>
      {% endif %}
      <th>Content</th>
      <th>Public</th>
      {% if visitor.is_admin %}
      <th>Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for e in entries %}
    <tr>
      <td>{{e.logdate|date:"Y-m-d H:i"}}</td>
      <td><a href="{{e.changed_by.get_absolute_url}}">{{e.changed_by.lookup_key}}</a></td>
      {% if not requirement %}
      <td>{{e.requirement.type|default:"-"}}</td>
      {% endif %}
      <td>{{e.logtext}}</td>
      <td>{{e.is_public|yesno}}</td>
      {% if visitor.is_admin %}
      <td><a href="{% url 'admin:process_log_change' e.pk %}">admin</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
