<p>
<form method="POST"
  {% if requirement %}
  action="{% url 'process_add_requirement_log' pk=process.pk type=requirement.type %}"
  {% else %}
  action="{% url 'process_add_log' pk=process.pk %}"
  {% endif %}
  >{% csrf_token %}
  Add log entry:
  <br/>
  <textarea name="logtext" rows="3" cols="80" placeholder="vacation notice / remark about the process / status update / ..."></textarea>
  <br/>
  <button type="submit" name="add_action" value="log_public">Comment</button>
  <button type="submit" name="add_action" value="log_private">Comment (confidential)</button>
  {% if requirement %}
    {% if requirement.approved_by %}
    <button type="submit" name="add_action" value="req_unapprove">Unapprove</button>
    {% else %}
    <button type="submit" name="add_action" value="req_approve">Approve</button>
    {% endif %}
  {% else %}
    {% if not process.frozen_by %}
      {% if not process.approved_by %}
        <button type="submit" name="add_action" value="proc_freeze">Freeze for review</button>
      {% else %}
        {# no button to show here: this case should not happen and should get a warning by nightly maintenance #}
      {% endif %}
    {% else %}
      {% if not process.approved_by %}
        <button type="submit" name="add_action" value="proc_unfreeze">Unfreeze for further work</button>
        <button type="submit" name="add_action" value="proc_approve">Approve process</button>
      {% else %}
        <button type="submit" name="add_action" value="proc_unapprove">Unapprove process</button>
      {% endif %}
    {% endif %}
  {% endif %}
</form>
</p>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Author</th>
      {% if not requirement %}
      <th>Requirement</th>
      {% endif %}
      <th>Action</th>
      <th>Content</th>
      <th>Public</th>
      {% if visitor.is_admin %}
      <th>Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for e in entries %}
    <tr>
      <td>{{e.logdate|date:"Y-m-d H:i"}}</td>
      <td>{{e.changed_by.a_link}}</a></td>
      {% if not requirement %}
      <td>
        {% if e.requirement %}
          {{e.requirement.a_link}}
        {% else %}
          -
        {% endif %}
      </td>
      {% endif %}
      <td>{{e.action|default:"-"}}</td>
      <td>{{e.logtext}}</td>
      <td>{{e.is_public|yesno}}</td>
      {% if visitor.is_admin %}
      <td><a href="{% url 'admin:process_log_change' e.pk %}">admin</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
