{% extends "process/base.html" %}
{% load nm %}
{% load js %}

{% block head_resources %}
{{block.super}}
{% jsinclude "nm" %}
{% endblock %}

{% block content %}

<h1>Draft RT ticekt for {{person}} / {{process.applying_for|desc_status}}</h1>

<textarea rows="70" cols="80">
From: {{visitor.fullname}} &lt;{{visitor.email}}&gt;
To: {{mail_to}}
Cc: Debian Account Managers &lt;da-manager@debian.org&gt;, {{person.fullname}} &lt;{{person.email}}&gt;, {{process.archive_email}}
Reply-To: Debian Account Managers &lt;da-manager@debian.org&gt;
Subject: {{subject}}
{% spaceless %}
{% if visitor.uid == "joerg" %}
Organization: Goliath-BBS
Gcc: nnimap+gkar:Sentmail.DAM
--text follows this line--
<#secure method=pgp mode=sign>
{% endif %}
{% endspaceless %}
Hi

{{request}}
  First name:       {{person.cn}}
  Middle name:      {{person.mn|default:"-"}}
  Last name:        {{person.sn}}
  Key fingerprint:  {{person.fpr}}
  Target keyring:   {{process.applying_for|desc_status}}
  Username:         {{person.uid}}
  Forward email:    {{person.email}}

{{person.fullname}} has accepted the DMUP in a signed statement.

Details from {{person.uid}}:

{{intents}}
More details can be found at {{process_url}}

-- 
Thank you,

{{visitor.fullname}} (as DAM)
</textarea>

{% endblock %}
