{% if requirement.approved_by %}
<p><i>This requirement has been approved by <a href="{{requirement.approved_by.get_absolute_url}}">{{requirement.approved_by}}</a> {{requirement.approved_time|timesince}} ago.</i></p>
{% else %}
{% if status.satisfied %}
<p><i>This requirement looks ready for approval, but has not been approved yet.</i></p>
{% else %}
<p><i>This requirement looks incomplete.</i></p>
{% endif %}
{% endif %}

{% if process.closed %}
<div class="important"><p>This process has been closed on {{closed|date:"Y-m-d"}}: no further modifications are possible.</p></div>
{% elif process.approved_by %}
<div class="important"><p>This process has been approved by {{process.approved_by.a_link}} on {{process.approved_time|date:"Y-m-d"}}: no further modifications are possible.</p></div>
{% elif process.frozen_by %}
<div class="important"><p>This process has been frozen for review by {{process.frozen_by.a_link}} on {{process.frozen_time|date:"Y-m-d"}}: no modifications are currently possible.</p></div>
{% endif %}

{% if status.notes %}
<h3>Potential problems</h3>
<ul>
  {% for nclass, ntext in status.notes %}
  <li class="{{nclass}}">{{ntext}}</li>
  {% endfor %}
</ul>
{% endif %}
