{% if requirement.approved_by %}
<p><i>This requirement has been approved by <a href="{{requirement.approved_by.get_absolute_url}}">{{requirement.approved_by}}</a> {{requirement.approved_time|timesince}} ago.</i></p>
{% else %}
{% if status.satisfied %}
<p><i>This requirement looks ready for approval, but has not been approved yet.</i></p>
{% else %}
<p><i>This requirement looks incomplete.</i></p>
{% endif %}
{% endif %}

{% if status.notes %}
<h3>Potential problems</h3>
<ul>
  {% for nclass, ntext in status.notes %}
  <li class="{{nclass}}">{{ntext}}</li>
  {% endfor %}
</ul>
{% endif %}
