{% if requirement.approved_by %}
<form action="{% url 'process_requirement_unapprove' pk=process.pk type=requirement.type %}" method="POST">{% csrf_token %}
<p>
Approved by <a href="{{requirement.approved_by.get_absolute_url}}">{{requirement.approved_by}}</a> at {{requirement.approved_time|date:"Y-m-d"}}.
  <button type="submit">Undo</button>
</p>
</form>
{% else %}
<form action="{% url 'process_requirement_approve' pk=process.pk type=requirement.type %}" method="POST">{% csrf_token %}
<p>
  <button type="submit">All looks fine: approve this requirement</button>
</p>
</form>
{% endif %}
