<table>
  <thead>
    <tr>
      <th>Statement</th>
      <th>Uploaded by</th>
      <th>Upload time</th>
    </tr>
  </thead>
  <tbody>
    {% for s in requirement.statements.all %}
    <tr>
      <td><pre>{{s.statement}}</pre></td>
      <td><a href="{{s.uploaded_by.get_absolute_url}}">{{s.uploaded_by}}</a></td>
      <td>
        {% if "edit_statements" in vperms.perms %}
        <a href="{% url 'process_statement_edit' pk=process.pk type=requirement.type st=s.pk %}">{{s.uploaded_time|date:"Y-m-d"}}</a>
        {% else %}
        {{s.uploaded_time|date:"Y-m-d"}}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <a href="{% url 'process_statement_create' pk=process.pk type=requirement.type %}">add</a>
      </td>
    </tr>
  </tfoot>
</table>
