{% extends "public/base.html" %}
{% load nm %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables,jqplot,sparkline" %}
  <style type="text/css">
  #progstats {
      font-size: small;
  }
  #progstats tbody {
      white-space: nowrap;
  }
  </style>
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    var bystatus = $("#bystatus");
    var byprogress = $("#byprogress");

    $("table.tablesorter").tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });

    $.jqplot('bystatus_graph', [{{status_table_json|safe}}], {
        title: "People by status",
        seriesDefaults: {
            renderer: $.jqplot.PieRenderer,
            rendererOptions: {
                sliceMargin: 4,
                dataLabels: "label",
                showDataLabels: true,
            },
        },
        legend: {
            show: false,
        }
    });

    $(".mbox_sparkline").sparkline("html", {
      type: "bar",
      barColor: "#005382",
      negBarColor: "#823000",
      chartRangeMin: -30,
      chartRangeMax: 30
    });
});
</script>
{% endblock %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url 'public_stats' %}">stats</a>{% endblock %}

{% block relatedpages %}
<a href="{% url 'public_stats_latest' %}">latest events</a>
<a href="http://molly.corsac.net/~corsac/debian/nm/">historical graphs</a>
{{block.super}}
{% endblock %}

{% block content %}

<h1>Debian New Member - Statistics</h2>

<h2>People by status</h2>

<div style="float: right; width: 400px; height: 400px;" id="bystatus_graph"></div>

<table id="bystatus" class="tablesorter">
<thead>
    <tr><th>Status</th><th>Count</th></tr>
</thead>
<tbody>
    {% for st, count in status_table %}
    <tr>
        <td val="{{st|seq_status}}">{{st|desc_status}}</td>
        <td>{{count}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<h2>Processes by status</h2>

<table id="proc_bystatus" class="tablesorter">
<thead>
    <tr><th>Status</th><th>Count</th></tr>
</thead>
<tbody>
    {% for st, count in by_status %}
    <tr>
        <td>{{st}}</td>
        <td>{{count}}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>Total</td>
      <td>{{active_processes|length}}</td>
    </tr>
</tbody>
</table>

<h2 style="clear: both">Active processes</h2>

<table class="tablesorter" id="progstats">
    <thead>
    <tr>
        <th>Applicant</th>
        <th>Uid</th>
        <th>For</th>
        <th>Manager</th>
        {% comment %}
        <th>Progr</th>
        {% endcomment %}
        <th>Adv</th>
        <th>Started</th>
        <th>Last log</th>
        {% comment %}
        <th>Total days</th>
        <th>AM days</th>
        <th>AM hold days</th>
        <th>Last AM days</th>
        <th>Last AM hold days</th>
        <th>Mbox age</th>
        {% endcomment %}
        {% if visitor.is_am %}
        <th id="head_activity">Activity</th>
        <th id="head_lastlog">Last log entry</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
        {% for p, status in active_processes %}
        <tr>
            <td><a href="{{ p.get_absolute_url }}">{{p.person.fullname}}</a></td>
            <td><a href="{{ p.get_absolute_url }}">{{p.person.uid}}</a></td>
            <td val="{{ p.applying_for|seq_status }}">{{p.applying_for|sdesc_status}}</td>
            <td>
              {% with a=p.current_am_assignment %}
                {% if a %}
                <a href="{{ a.am.person.get_absolute_url }}">{{a.am.person.uid}}</a>
                {% endif %}
              {% endwith %}
            </td>
            {% comment %}
            <td val="{{ p.progress|seq_progress }}"><a href="{{ p.get_absolute_url }}">{{p.progress|sdesc_progress}}</a></td>
            {% endcomment %}
            <td>
                {% for a in status.advocates.all %}
                <a href="{{ a.get_absolute_url }}">{{a.uid}}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
            <td>{{status.log_first.logdate|date:"Y-m-d"}}</td>
            <td>{{status.log_last.logdate|date:"Y-m-d"}}</td>
            {% comment %}
            <td>{{p.total_duration}}</td>
            <td>{{p.total_am_time}}</td>
            <td>{{p.total_amhold_time}}</td>
            <td>{{p.last_am_time}}</td>
            <td>{{p.last_amhold_time}}</td>
            <td>{{p.mbox_age|default_if_none:"-"}}</td>
            {% endcomment %}
            {% if visitor.is_am %}
            <td class="col_activity">
              {% if p.mbox_stats %}
              <a href="{% url 'display_mail_archive' key=p.lookup_key %}">
                <span class="mbox_sparkline" values="{{p.mbox_stats|join:","}}"></span>
              </a>
              {% else %}
              ---
              {% endif %}
            </td>
            <td class="col_lastlog">
                {% if status.log_last.logtext %}
                {{ status.log_last.logtext }}
                {% else %}
                [{{status.log_last.requirement|default:"-"}} {{status.log_last.action|default:"-"}}]
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

