{% extends "nm-base.html" %}

{% block content %}

<div id="intro">
    <p>This page contains answers to (more or less) Frequently Asked Questions
    about the site.</p>
</div>

<h1>nm.debian.org Frequently Asked Questions</h1>

<h2 id="missing-referer">The site gives me 403 Forbidden errors if I disable referers</h2>

<p>Believe it or not, that is a security feature. Please see
<a href="http://groups.google.com/group/django-developers/browse_thread/thread/22058adaf11e3ed6">this thread</a>
for more information (look for the string "detonate-bomb" for an attack
scenario).</p>

{% endblock %}
