{% extends "process/base.html" %}
{% load nm %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "nm" %}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    $(".proctable").tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}

{% block content %}

<h1>Last uploads</h1>

<div id="intro">
  <form action="" method="GET">
    <p>
This is a list of all the {{fprs|length}} Debian Developers with upload rights
whose last upload according to <a href="https://wiki.debian.org/ProjectB">projectb</a>
happened more than <input type="number" name="days" value="{{days}}"> days ago.
<button type="submit">Update</button>
    </p>
  </form>
</div>

<table class="proctable tablesorter {{class}}">
<thead>
    <tr>
        <th>Person</th>
        <th>Uid</th>
        <th>Key</th>
        <th>Last upload</th>
    </tr>
</thead>
<tbody>
    {% for fpr in fprs %}
    <tr>
      <td><a href="{{fpr.person.get_ddpo_url}}">{{fpr.person.fullname}}</a></td>
      <td>{{fpr.person.a_link}}</td>
      <td>{{fpr.fpr|fingerprint}}</td>
      <td val="{{fpr.last_upload|date:'Y-m-d'}}">{{fpr.last_upload}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% if no_fpr %}
<h2>Debian Developers without fingerprint</h2>

<table class="proctable tablesorter {{class}}">
<thead>
    <tr>
        <th>Person</th>
        <th>Uid</th>
        <th>Status</th>
    </tr>
</thead>
<tbody>
    {% for person in no_fpr %}
    <tr>
      <td>{{person.fullname}}</td>
      <td>{{person.a_link}}</td>
      <td>{{person.status|desc_status}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}

